
.w1{
  width: 55px;
  height: 55px;
  border: 1px solid silver;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 25px;
  
}

.App{
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}